#memoryfield {
    width: 425px;
    height: 425px;
    padding: 10px;
    border: 1px solid grey;
    margin-bottom: 5px;   
    border-radius: 10px; 
}

#controls {
	clear: both;
	padding: 0px 10px 20px 10px;
	border: 1px solid grey;
	width: 425px;
	font-family: Tahoma, Geneva, sans-serif;
	border-radius: 10px;
}

.memory_item {
    background-color: #8df;
    text-align: center;
    width: 20px;
    box-shadow: 10px 10px 5px #888;
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    float: left;    
    border-radius: 10px;
}